*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
	font-family: VALORANT;
	src: url(../fonts/Valorant\ Font.ttf)
}

.clear{
    clear: both;
}

body{
    background-color: #595959;
    height: 100vh;
}

header{
    height: auto;
    background-color: #00d6fb;
    text-align: center;
    padding-bottom: 10px;   
}

.logo{
    color: white;
    padding-top: 15px;
    font-size: 50px;
    font-family: VALORANT;
}

.separador{
    border-top: solid white 1px;
    width: 95%;
    margin: 0 auto;
    background-color: #00d6fb;
}

.barraNav{
    background-color:  #00d6fb;
}

nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00d6fb;
}

.boxMenu{
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
}

.barSection{
    border-right: 1px solid white;
}

.menu{
    margin: 0 auto;
    outline: 0;
    color: white;
    text-decoration: none;
    margin: -1px;
    width: calc(100%/3);
    float: left;
    white-space: nowrap;
    font-weight: bolder;
}